body {
  background-color: rgb(42, 42, 250);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.gameboards {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}
.heading {
  font-size: 48px;
  font-family: sans-serif;
}
.gameboardOne,
.gameboardTwo {
  display: grid;
  grid-template-columns: repeat(5, 100px);
  grid-template-rows: repeat(5, 100px);
  gap: 5px;
}

.gameboardOne > div {
  background-color: rgb(252, 195, 121);
}

.gameboardTwo > div {
  background-color: rgb(252, 195, 121);
}
.messagebox {
  background-color: rgb(255, 54, 54);
  font-size: 20px;
  width: 50%;
  height: 15%;
  font-size: 24px;
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}
.myboard.selected {
  background-color: blueviolet;
}

.Enemyboard.missed {
  background-color: rgb(67, 67, 250);
}
.Enemyboard.hit {
  background-color: red;
}
.myboard.missed {
  background-color: rgb(67, 67, 250);
}
.myboard.selected.hit {
  background-color: red;
}
